@model IndexViewModel;
@using Hopper.Common
@using Hopper.Web.ViewModels.Home
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        <li class="list-group-item">All:@Model.AllPractices</li>
        <li class="list-group-item">FootballPractices:@Model.FootballPractices</li>
        <li class="list-group-item">BasketBallPractices:@Model.BasketballPractices</li>
    </ul>
</div>
