@using Hopper.Web.ViewModels.Create
@model CreateViewModel
@{
    this.ViewData["Title"] = "Create";
}
<div class="form-control mb-3">
    <span asp-for="Sport" class="form-controll" >Sport</span>
  <input asp-for="Sport" type="text" class="form-control">
</div>


<div class="form-control mb-3">
    <span asp-for="Location" class="form-control-text">Location</span>
    <input asp-for="Location" type="text" class="form-control">
</div>

<div class="form-control mb-3">
    <span asp-for="Date" class="form-controll">Date</span>
    <input asp-for="Date" type="date" class="form-control">
</div>

<div class="form-control mb-3">
    <span asp-for="Time" class="form-controll">Time</span>
    <input asp-for="Time" type="time" class="form-control">
</div>

<div class="form-control mb-3">
    <span asp-for="Description" class="form-control-text">Description</span>
    <textarea input asp-for="Description" type="text" class="form-control" style="height: 130px"></textarea>
</div>

<div class="form-control mb-3">
    <span asp-for="PeopleNeeded" class="form-controll">PeopleNeeded</span>
    <input asp-for="PeopleNeeded" type="number" class="form-control">
</div>

<div class="form-control mb-3">
    <span asp-for="PhoneNumber" class="form-controll">PhoneNumber</span>
    <input asp-for="PhoneNumber" type="tel" class="form-control" value="+359">
</div>

<div class="form-control mb-3">
    <span asp-for="Price" class="form-controll">Price</span>
    <input asp-for="Price" type="number" class="form-control">
</div>

<div >
    <input type="submit" class="form-control" />
</div>
